@model UserListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-3">
    <div class="col-6">
        <h3>Hesap Ekleyeceğimiz Kişinin Bilgileri </h3> 
        <p>Kullanıcının Adı:@Model.Name</p> 
        <p>Kullancının Soyadı:@Model.Surname</p>
        <p>Kullanıcının Aktif Hesap Sayısı :<getAccountCount application-user-id="@Model.ApplicationUserId"></getAccountCount> </p>
    </div>
    <div class="col-6">
        <h1>Ekleme İşlemi</h1>
        <form asp-action="Create" asp-controller="Account" method="post">
            <input type="hidden" name="ApplicationUserId" value="@Model.ApplicationUserId" />
            <div class="mt-3">
                <label class="form-label">Hesap Numarası:</label>
                <input type="number" class="form-control" name="AccountNumber" value="" />
            </div>

            <div class="mt-3">
                <label class="form-label">Bakiye:</label>
                <input type="number" class="form-control" name="Balance" value="" />
            </div>

            <div class="mt-3">
                <button class="btn btn-primary"> Kaydet</button>
            </div>
        </form>
    </div>
</div>